.root {
    -fx-background-color: #E2CAA2;
}

.button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color:black;
    -fx-background-color: #8B7355;
}

.label{
    -fx-font-weight: bold;
}